spring:
  ai:
    vectorstore:
      pgvector:
        index-type: hnsw
        distance-type: cosine_distance
        dimensions: 768
        max-document-batch-size: 10000
        initialize-schema: true
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            model: gemini-2.0-flash
        embedding:
          api-key: ${GEMINI_API_KEY}
  #    vectorstore:
  #      pgvector:
  #      index-type: HNSW
  #      distance-type: COSINE_DISTANCE
  #      dimensions: 1536
  #      max-document-batch-size: 10000 # Optional: Maximum number of documents per batch
  application:
    name: enternal-rune-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/PhoneDB
    username: postgres
    password: postgrespassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: eternalrune.comerce@gmail.com
    password: cxae xnjb smfw yedu
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
    default-encoding: UTF-8

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs
            user-name-attribute: sub
  data:
    mongodb:
      uri: ${MONGO_URI}


qr:





sepay:
  api: ${SEPAY_API}

frontend:
  user: ${USER_URL}
  admin: ${ADMIN_URL}


server:
  port: 8080