services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: phone_vectordb
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: PhoneDB
      PGTZ: Asia/Ho_Chi_Minh
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
   
    command: >
      postgres
      -c shared_preload_libraries=vector

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: