name: Deploy Admin

on:
  push:
    branches: [ "main" ]
    paths:
      - "enternal-rune-admin-frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{ secrets.API_KEY_ADMIN }}
          heroku_app_name: ${{ secrets.APP_NAME_ADMIN }}
          heroku_email: ${{ secrets.EMAIL_ADMIN }}